@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: hsl(0, 100%, 100%);
    --purple100: hsl(275, 100%, 97%);
    --purple600: hsl(292, 16%, 49%);
    --purple950: hsl(292, 42%, 14%);
    --purple-bright: hsl(281, 100%, 64%);
}

body {
    height: 35vh;
    background: var(--purple100) url("../assets/images/background-pattern-desktop.svg") no-repeat 10% 90%/cover;
    font-family: "Work Sans", sans-serif;
    color: var(--purple950);
    display: flex;
    justify-content: center;
}

.faq {
    background-color: var(--white);
    padding: clamp(1.4rem, 4vw, 2rem);
    padding-block-start: 2.5rem;
    padding-block-end: 1.5rem;
    margin-inline: 1.5rem;
    max-width: 37.8rem;
    line-height: 1.5rem;
    position: absolute;
    top: 20%;
    border-radius: 1rem;
}

.faq__title-div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.faq__title-div h1 {
    font-size: clamp(2.5rem, 4vw, 3.5rem);
}

.faq__title-div img {
    width: clamp(2rem, 4vw, 3rem);
}

.faq__questions > .question:not(:last-child) {
    border-bottom: 1px solid var(--purple100);
    margin-block: 2rem;
}

.faq__questions > .question:last-child {
    margin-block-end: 0;
}

.faq__questions .question {
    display: grid;
    justify-content: space-between;
    grid-template-areas: "question img"
                        "answer answer";
    margin-block: 1.5rem;
}

.question label {
    font-weight: 600;
    font-size: clamp(1rem, 4vw, 1.17rem);
    margin-block-end: 1.7rem;
    margin-inline-end: 2rem;
    transition: .2s ease-in-out;
}

.faq__questions .question:hover,
.question label:hover {
    color: var(--purple-bright);
    cursor: pointer;
}

.faq__questions .answer {
    color: var(--purple600);
    font-size: clamp(.82rem, 3vw, .98rem);
    display: none;
}

.faq__questions .question:not(:last-child) .answer {
    margin-block-end: 1.5rem;
}

.question .question--minus {
    display: none;
}

.display-control {
    display: none;
}

.display-control:checked ~ .answer,
.display-control:checked ~ .question--minus {
    display: block;
}

.display-control:checked ~ .question--plus {
    display: none;
}

